$breakpoints: () !default;
$bases: () !default;
$container: () !default;
$reset: true !default;
$font-smoothing: true !default;

@forward "tools/easings";
@forward "tools/font-face";

@forward "layout/mq" as mq-* with (
  $breakpoints: $breakpoints
);

@forward "layout/container" with (
  $container: $container,
);

@use "reset" with (
  $reset: $reset,
  $font-smoothing: $font-smoothing
);

@use "layout/flex" with (
  $bases: $bases
);
