@use "sass:string";
@use "mq";

$bases: () !default;
$base-factor: 10 !default; // use the factor 10 because of a chrome issue with small font sizes getting bumped up

@function is-px($value) {
  @return is-number($value) and index("px", unit($value)) != null;
}

@if $bases != () {
  html {
    @each $breakpoint, $base in $bases {
      @include mq.from($breakpoint) {
        @if (is-px($base)) {
          font-size: $base * $base-factor;
        } @else {
          font-size: (100vw / $base * $base-factor);
        }
      }
    }
  }
}
